body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6dfdf;
    justify-content: center;
    align-items: center;
}

#content {
    max-width: 800px;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text in the content block */
}

header {
    margin-bottom: 20px;
}

h1, h2, p {
    margin: 0;
}

section {
    margin-bottom: 20px;
    text-align: left; /* Align section content to the left */
}

h2 {
    color: #333;
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer a {
    color: #333;
    text-decoration: none;
}
